In [19]:
p_storage_dir = "../../storage"
p_notebooks_root = None

In [20]:
if p_notebooks_root is not None:
    import os
    os.chdir(p_notebooks_root)

In [21]:
import pandas as pd
import numpy as np
from pathlib import Path

IFG_PRODUZ_STORAGE_DIR = Path(f"{p_storage_dir}/ifg_produz")

## Produção Técnica

In [22]:
producao_tecnica = pd.read_csv(IFG_PRODUZ_STORAGE_DIR / "extracted/producaotecnica.csv", delimiter=";")

producao_tecnica.sample(n=5)

,id_producao_tecnica,nome_producao,ano_producao_tecnica,natureza,ano,finalidade,descricao,id_curriculo_id
2960,2958,Programa de monitoramento da fauna em áreas de...,2010,CONSULTORIA,NaN,NaN,NaN,506
816,813,Consultor ad hoc na avaliação de proposta subm...,2017,PARECER,NaN,Avaliação de proposta n° 2017198673301670,NaN,110
841,839,Avaliador Membro de Comitê Externo de Avaliaçã...,2016,PARECER,NaN,Avaliação de Projeto de Pesquisa &quot;Ambient...,NaN,110
3103,3101,Chá pedagógico,2019,ORGANIZACAO,NaN,NaN,NaN,527
6279,6231,Protótipo de Software de Controle de Funcionários,2010,OUTRA,NaN,Comercial,NaN,1056

In [23]:
ano_column = 'ano'
descricao_column = 'descricao'

if ano_column in producao_tecnica and producao_tecnica['ano'].isna().all():
    producao_tecnica.drop(columns='ano', inplace=True)

if descricao_column in producao_tecnica and producao_tecnica['descricao'].isna().all():
    producao_tecnica.drop(columns='descricao', inplace=True)

In [24]:
producao_tecnica.columns

Index(['id_producao_tecnica', 'nome_producao', 'ano_producao_tecnica',
       'natureza', 'finalidade', 'id_curriculo_id'],
      dtype='object')

In [25]:
producao_tecnica.sample(n=5)

,id_producao_tecnica,nome_producao,ano_producao_tecnica,natureza,finalidade,id_curriculo_id
9413,9414,XVIII Congresso Brasileiro de Engenharia e Arq...,2008,NAO_INFORMADO,NaN,1520
2987,2984,I Simpósio de Agroecologia da Cidade de Goiás,2016,ORGANIZACAO,NaN,506
1603,1599,VIII Festival de Paródias CantaFen (Faculdade ...,2014,ORGANIZACAO,NaN,265
9004,9005,Consultoria Técnica em Lavra e Usina de Britag...,2009,CONSULTORIA,NaN,1468
3149,3147,III Encontro de Professores de Língua Estrangeira,2008,ORGANIZACAO,NaN,536

In [26]:
producao_tecnica = producao_tecnica.rename(columns={
    'id_producao_tecnica': 'codigo',
    'nome_producao': 'nome',
    'ano_producao_tecnica': 'ano',
    'id_curriculo_id': 'codigo_curriculo'
})

In [27]:
producao_tecnica.sample(n=5)

,codigo,nome,ano,natureza,finalidade,codigo_curriculo
8402,8403,A história de Goiás nos Documentos do Arquivo ...,2004,ORGANIZACAO,NaN,1411
3690,3687,Currículo da Escola Técnica Federal de Goiás,1993,ELABORACAO_DE_PROJETO,Sistemar propostas e projetos com o objetivo d...,630
1293,1288,XV Semana Técnico Cultural do IFG/Campus Jataí...,2010,ORGANIZACAO,NaN,203
581,576,IV Simpósio de química,2015,ORGANIZACAO,NaN,59
3821,3818,Semana de Quimica Integrada,2008,ORGANIZACAO,NaN,653

In [28]:
producao_tecnica['natureza'].unique()

array(['NAO_INFORMADO', 'COMPUTACIONAL', 'ORGANIZACAO', 'PARECER',
       'OUTRA', 'ASSESSORIA', 'SERVICOS_NA_AREA_DA_SAUDE',
       'RELATORIO_TECNICO', 'CONSULTORIA', 'ELABORACAO_DE_PROJETO',
       'MONTAGEM', 'CURADORIA', 'MUSEOLOGIA', 'EXTENSAO_TECNOLOGICA',
       'MAQUETE', 'MULTIMIDIA'], dtype=object)

In [29]:
producao_tecnica['natureza'] = producao_tecnica['natureza'].replace({'NAO_INFORMADO': np.nan})

In [30]:
producao_tecnica.isna().any()

codigo              False
nome                False
ano                 False
natureza             True
finalidade           True
codigo_curriculo    False
dtype: bool

**Exportar**

In [31]:
export_path = Path(IFG_PRODUZ_STORAGE_DIR / "preprocessed")

if not export_path.is_dir():
    Path(export_path).mkdir()

producao_tecnica.to_csv(export_path / "producao_tecnica.csv", sep=";", index=False)