In [30]:
p_storage_dir = "../../storage"

In [31]:
import pandas as pd
from pathlib import Path

IFG_PRODUZ_STORAGE_DIR = Path(f"{p_storage_dir}/ifg_produz")

## Produção Técnica

In [32]:
producao_tecnica = pd.read_csv(IFG_PRODUZ_STORAGE_DIR / "extracted/producaotecnica.csv", delimiter=";")

producao_tecnica.sample(n=5)

,id_producao_tecnica,nome_producao,ano_producao_tecnica,natureza,ano,finalidade,descricao,id_curriculo_id
1880,1877,VI Mostra Audiovisual UEG,2014,ORGANIZACAO,NaN,NaN,NaN,323
3809,3806,Perícia Judicial: Produção Antecipada de Prova...,2013,RELATORIO_TECNICO,NaN,Avaliação de sinistro: comprometimento operaci...,NaN,653
5546,5497,Seminário de Pedagogia 2009,2009,ORGANIZACAO,NaN,NaN,NaN,920
10572,10568,Projeto Ciclo de Palestras,2013,PARECER,NaN,Projeto de Curso de Extensão,NaN,1718
11346,11347,Seminário Internacional do IFG,2021,NAO_INFORMADO,NaN,NaN,NaN,1639

In [33]:
ano_column = 'ano'
descricao_column = 'descricao'

if ano_column in producao_tecnica and producao_tecnica['ano'].isna().all():
    producao_tecnica.drop(columns='ano', inplace=True)

if descricao_column in producao_tecnica and producao_tecnica['descricao'].isna().all():
    producao_tecnica.drop(columns='descricao', inplace=True)

In [34]:
producao_tecnica.columns

Index(['id_producao_tecnica', 'nome_producao', 'ano_producao_tecnica',
       'natureza', 'finalidade', 'id_curriculo_id'],
      dtype='object')

In [35]:
producao_tecnica.sample(n=5)

,id_producao_tecnica,nome_producao,ano_producao_tecnica,natureza,finalidade,id_curriculo_id
10552,10548,Festival Latino americano de Instalação de Sof...,2014,ORGANIZACAO,NaN,1712
7996,7997,II Feira e Troca de Livros do IFG - Câmpus Águ...,2017,ORGANIZACAO,NaN,1335
8357,8358,"ESTUDOS E PESQUISAS ECONÔMICAS, SOCIAIS E EDUC...",2013,OUTRA,NaN,1397
9396,9397,III Encontro de Planejamento Acadêmico,2004,ORGANIZACAO,NaN,1520
3572,3569,I Colóquio de artes Visuais da Universidade fe...,2006,ORGANIZACAO,NaN,618

In [36]:
producao_tecnica = producao_tecnica.rename(columns={
    'id_producao_tecnica': 'codigo',
    'nome_producao': 'nome',
    'ano_producao_tecnica': 'ano',
    'id_curriculo_id': 'codigo_curriculo'
})

In [37]:
producao_tecnica.sample(n=5)

,codigo,nome,ano,natureza,finalidade,codigo_curriculo
2685,2681,Projeto Quinta tem música Temporada 2006,2006,ORGANIZACAO,NaN,473
4245,4242,Pesquisa da Oferta de curso na área química in...,2008,OUTRA,Proporcionar um conjunto de dados e informaçõe...,720
10691,10689,1º Diálogos permanentes em Análises Clínicas e...,2017,ORGANIZACAO,NaN,1728
4721,4710,2ª Semana da Comunicação,2006,ORGANIZACAO,NaN,801
3470,3468,Portuguese Conversation Table,2018,ORGANIZACAO,NaN,587

**Exportar**

In [38]:
export_path = Path(IFG_PRODUZ_STORAGE_DIR / "preprocessed")

if not export_path.is_dir():
    Path(export_path).mkdir()

producao_tecnica.to_csv(export_path / "producao_tecnica.csv", sep=";", index=False)