In [4]:
p_storage_dir = "../../storage"
p_notebooks_root = None

In [ ]:
if p_notebooks_root is not None:
    import os
    os.chdir(p_notebooks_root)

In [5]:
import pandas as pd
from pathlib import Path

IFG_PRODUZ_STORAGE_DIR = Path(f"{p_storage_dir}/ifg_produz")

## Atividades Atuação Profissional

In [8]:
atividades = pd.read_csv(IFG_PRODUZ_STORAGE_DIR / "extracted/atividades.csv", delimiter=";")

atividades.sample(n=8)

,id_atividade,data_inicio,atividade,id_atuacao_profissional_id
1237,1238,2016,Coordenador do da Coordenação de Educação Física,10779
136,137,1984,NaN,1100
777,778,2003,Chefe de Gabinete,6791
910,910,2009,Coordenador de Polo de Apoio Presencial,8057
596,597,2002,NaN,5270
662,663,2017,Coordenadora do Curso Técnico em Secretariado ...,5913
961,961,2007,Coordenador Adjunto de Trabalho de Conclusão d...,8447
631,632,2003,Coordenador da Àrea de Indústria,5613

In [11]:
atividades = atividades.rename(columns={
    'id_atividade': 'codigo',
    'atividade': 'cargo',
    'id_atuacao_profissional_id': 'codigo_atuacao_profissional'
})

In [12]:
atividades.sample(n=3)

,codigo,data_inicio,cargo,codigo_atuacao_profissional
1206,1206,1993,Gerente da área de processamento de dados,10513
719,720,2003,Coordenador do laboratório de pesquisas em eng...,6302
462,463,2013,Coordenação do Serviço de Interação Escola-Emp...,4095

**Exportar**

In [13]:
export_path = Path(IFG_PRODUZ_STORAGE_DIR / "preprocessed")

if not export_path.is_dir():
    Path(export_path).mkdir()

atividades.to_csv(export_path / "atividades_atuacao_profissional.csv", sep=";", index=False)