In [1]:
p_storage_dir = "../../storage"
p_notebooks_root = None

In [2]:
if p_notebooks_root is not None:
    import os
    os.chdir(p_notebooks_root)

In [3]:
import pandas as pd
from pathlib import Path

IFG_PRODUZ_STORAGE_DIR = Path(f"{p_storage_dir}/ifg_produz")

## Atuação Profissional

In [4]:
atuacao_profissional = pd.read_csv(IFG_PRODUZ_STORAGE_DIR / "extracted/atuacao_profissional.csv", delimiter=";")

atuacao_profissional.head(n=5)

,id_atuacao_profissional,nome_da_instituicao,ano_trabalho,id_curriculo_id
0,1,Laboratório de Pesquisa em Redes Neurais,2003.0,1
1,2,Tribunal de Justiça do Estado de Goiás,2005.0,1
2,3,Pires e Jacó Interatividade,2005.0,1
3,4,Universidade Federal de Goiás,NaN,1
4,5,"Instituto Federal de Educação, Ciência e Tecno...",NaN,1

In [5]:
atuacao_profissional = atuacao_profissional.rename(columns={
    'id_curriculo_id': 'codigo_curriculo',
    'id_atuacao_profissional': 'codigo',
})

In [6]:
atuacao_profissional['ano_trabalho'] = atuacao_profissional['ano_trabalho'].astype('Int64')

In [7]:
atuacao_profissional.sample(n=5)

,codigo,nome_da_instituicao,ano_trabalho,codigo_curriculo
4794,4794,"Instituto Federal de Educação, Ciência e Tecno...",2019,806
1538,1538,Secretaria de Educação do Estado de Goiás,<NA>,264
8875,8875,Universidade Federal de Goiás,2008,1471
4128,4129,Meta Prime Sistemas Ltda,2010,698
10654,10655,Governo do Distrito Federal,2018,1790

In [8]:
atuacao_profissional.isna().any()

codigo                 False
nome_da_instituicao    False
ano_trabalho            True
codigo_curriculo       False
dtype: bool

In [9]:
list(atuacao_profissional.columns)

['codigo', 'nome_da_instituicao', 'ano_trabalho', 'codigo_curriculo']

**Exportar**

In [10]:
export_path = Path(IFG_PRODUZ_STORAGE_DIR / "preprocessed")

if not export_path.is_dir():
    Path(export_path).mkdir()

atuacao_profissional.to_csv(export_path / "atuacao_profissional.csv", sep=";", index=False)