In [1]:
p_storage_dir = "../../storage"
p_notebooks_root = None

In [2]:
if p_notebooks_root is not None:
    import os
    os.chdir(p_notebooks_root)

In [3]:
import pandas as pd
from pathlib import Path

IFG_PRODUZ_STORAGE_DIR = Path(f"{p_storage_dir}/ifg_produz")

## Atividades Atuação Profissional

In [4]:
atividades = pd.read_csv(IFG_PRODUZ_STORAGE_DIR / "extracted/atividades.csv", delimiter=";")

atividades.sample(n=8)

,id_atividade,data_inicio,atividade,id_atuacao_profissional_id
718,719,2005,Coordenador Assistente dos Cursos de Sistemas ...,6296
733,734,2014,Coordenação Curso de Ciências Contábeis,6375
904,904,2004,Coordenadora Técnica,7955
1264,1265,2011,Diretor Presidente,10932
466,467,2004,Vice-Coordenação - Mestrado em Ecologia e Prod...,4097
399,400,2019,Coordenadora do Curso de Pós-Graduação Lato Se...,3371
727,728,2017,Suplente no Colegiado do Curso de Eletroeletrô...,6346
294,295,2014,Equipe de Apoio nos Processos Licitatórios do ...,2663

In [5]:
atividades = atividades.rename(columns={
    'id_atividade': 'codigo',
    'atividade': 'cargo',
    'id_atuacao_profissional_id': 'codigo_atuacao_profissional',
    'data_inicio': 'ano_inicio'
})

In [6]:
atividades.sample(n=3)

,codigo,ano_inicio,cargo,codigo_atuacao_profissional
71,72,1999,Direção da Escola Estadual Dom Bosco,514
238,239,2006,Professor de pos-graduacao,2050
865,865,2006,Gerente Municipal de Educação Infantil,7658

In [7]:
list(atividades.columns)

['codigo', 'ano_inicio', 'cargo', 'codigo_atuacao_profissional']

**Exportar**

In [13]:
export_path = Path(IFG_PRODUZ_STORAGE_DIR / "preprocessed")

if not export_path.is_dir():
    Path(export_path).mkdir()

atividades.to_csv(export_path / "atividades_atuacao_profissional.csv", sep=";", index=False)