In [2]:
p_storage_dir = "../../storage"

In [20]:
from ast import literal_eval

import pandas as pd
from pathlib import Path

IFG_PRODUZ_STORAGE_DIR = Path(f"{p_storage_dir}/ifg_produz")

## Palavras Chaves

In [30]:
palavras_chaves = pd.read_csv(IFG_PRODUZ_STORAGE_DIR / "intermediate/palavras_chaves.csv", delimiter=";")

palavras_chaves.head(n=5)

                                       palavra_chave
0  [{'palavra': 'goiania', 'correta': 'Goiânia', ...
1  [{'palavra': 'enfermagem', 'correta': 'Enferma...
2  [{'palavra': 'engenharia', 'correta': 'Engenha...
3  [{'palavra': 'administracao', 'correta': 'Admi...
4  [{'palavra': 'administracao', 'correta': 'Admi...

In [33]:
def extract_palavras(row, result_list):
    palavras = literal_eval(row.values[0])
    
    for palavra in palavras:
        del palavra['importancia']
        result_list.append(palavra)

In [43]:
palavras_extracted = []

palavras_chaves.apply(extract_palavras, args=(palavras_extracted,), axis=1)

palavras_chaves_final = pd.DataFrame(palavras_extracted)

palavras_chaves_final.sample(n=10)

                    palavra                 correta
98771            concepcoes              Concepções
61411         espaco fisico           Espaço Físico
97572              ciencias                Ciências
72813          carboidratos            Carboidratos
40429            tradutores              Tradutores
12298     curso edificacoes    Curso De Edificações
95338  movimento estudantil    Movimento Estudantil
85516   tecnico edificacoes  Técnico Em Edificações
85033                abraco                  Abraço
96469             excessivo               Excessivo

In [44]:
palavras_chaves_final = palavras_chaves_final.drop_duplicates(subset='palavra')

In [45]:
palavras_chaves_final.sample(n=10)

                       palavra                     correta
115568      solo divertimentos        Solo - Divertimentos
87235     patrimonio imaterial        Patrimônio Imaterial
41358          estimating wood             Estimating Wood
82410             ensino curso             Ensino No Curso
26740   normas concessionarias  Normas Das Concessionárias
5748            caju polivinil            Caju E Polivinil
77557     politicas produzidas        Políticas Produzidas
30038                ampliando                   Ampliando
15972         recital abertura         Recital De Abertura
45152                  formoso                     Formoso

**Exportar as palavras chaves**

In [46]:
export_path = Path(IFG_PRODUZ_STORAGE_DIR / "preprocessed")

if not export_path.is_dir():
    Path(export_path).mkdir()

try:
    palavras_chaves_final.to_csv(export_path / "palavras_chaves.csv", sep=";", index=False)
except Exception as e:
    print(str(e))