In [1]:
p_storage_dir = "../../storage"
p_notebooks_root = None

In [ ]:
if p_notebooks_root is not None:
    import os
    os.chdir(p_notebooks_root)

In [2]:
from pathlib import Path

import numpy as np
import pandas as pd

IFG_PRODUZ_STORAGE_DIR = Path(f"{p_storage_dir}/ifg_produz")

# Textos Jornais

In [4]:
textos_jornais = pd.read_csv(IFG_PRODUZ_STORAGE_DIR / "extracted/textosjornais.csv", delimiter=";")

textos_jornais.sample(n=5)

,id_texto,natureza,titulo_texto,ano_texto,id_curriculo_id
805,805,JORNAL_DE_NOTICIAS,A Marta e a Maria de todos nós!,2019,1380
739,740,JORNAL_DE_NOTICIAS,Avenida Goiás é a mais completa de Goiânia,2018,1317
729,730,REVISTA_MAGAZINE,Há liberdade em servir a Deus?,2013,1304
272,272,JORNAL_DE_NOTICIAS,Alunos mostram que políticas ainda engatinham,2011,463
407,406,REVISTA_MAGAZINE,"Brincadeiras, Gênero e sexualidade: Uma experi...",2010,618

In [5]:
textos_jornais = textos_jornais.rename(columns={
    'id_texto': 'codigo',
    'titulo_texto': 'titulo',
    'ano_texto': 'ano',
    'id_curriculo_id': 'codigo_curriculo'
})

In [6]:
textos_jornais.sample(n=5)

,codigo,natureza,titulo,ano,codigo_curriculo
15,16,JORNAL_DE_NOTICIAS,Tomando uma overdose de cultura,2006,12
438,437,JORNAL_DE_NOTICIAS,Cresce acesso à internet em casa,2008,709
707,708,JORNAL_DE_NOTICIAS,Delitos de menores,1997,1234
105,106,REVISTA_MAGAZINE,O que há de novo no Novo Cinema Argentino?,2003,278
930,931,JORNAL_DE_NOTICIAS,Em defesa do altruísmo ativo,2012,1488

In [7]:
textos_jornais['natureza'].unique()

array(['REVISTA_MAGAZINE', 'JORNAL_DE_NOTICIAS'], dtype=object)

## Exportar

In [8]:
export_path = Path(IFG_PRODUZ_STORAGE_DIR / "preprocessed")

if not export_path.is_dir():
    Path(export_path).mkdir()

textos_jornais.to_csv(export_path / "textos_jornais.csv", sep=";", index=False)