In [2]:
p_storage_dir = "../../storage"
p_notebooks_root = None

In [3]:
if p_notebooks_root is not None:
    import os
    os.chdir(p_notebooks_root)

In [4]:
import pandas as pd
from pathlib import Path

IFG_PRODUZ_STORAGE_DIR = Path(f"{p_storage_dir}/ifg_produz")

## Áreas de Atuação

In [5]:
areas_de_atuacao = pd.read_csv(IFG_PRODUZ_STORAGE_DIR / "extracted/areas_de_atuacao.csv", delimiter=";")

areas_de_atuacao.head(n=5)

,id_area_atuacao,grande_area_conhecimento,especialidade,area_do_conheciento,sub_area_do_conhecimento,id_curriculo_id
0,1,ENGENHARIAS,NaN,Engenharia Elétrica,ENGENHARIA DE COMPUTAÇÃO,1
1,2,CIENCIAS_HUMANAS,NaN,Educação,Educação matemática,3
2,3,CIENCIAS_HUMANAS,NaN,Educação,Formação de professores,3
3,4,CIENCIAS_EXATAS_E_DA_TERRA,NaN,Matemática,NaN,3
4,5,CIENCIAS_SOCIAIS_APLICADAS,NaN,Administração,NaN,3

In [6]:
areas_de_atuacao = areas_de_atuacao.rename(columns={
    'area_do_conheciento': 'area_do_conhecimento', 
    'sub_area_do_conhecimento': 'subarea_do_conhecimento', 
    'id_area_atuacao': 'codigo',
    'id_curriculo_id': 'codigo_curriculo'
})

areas_de_atuacao.sample(n=5)

,codigo,grande_area_conhecimento,especialidade,area_do_conhecimento,subarea_do_conhecimento,codigo_curriculo
2305,2238,ENGENHARIAS,Métodos de Concentração e Enriquecimento de Mi...,Engenharia de Minas,Tratamento de Minérios,814
631,630,ENGENHARIAS,Hidrologia,Engenharia Civil,Engenharia Hidráulica,228
3033,2966,CIENCIAS_EXATAS_E_DA_TERRA,Linguagens de Programação,Ciência da Computação,Metodologia e Técnicas da Computação,1091
4051,4050,ENGENHARIAS,Lavra de Rocha Ornamental,Engenharia de Minas,Lavra,1468
2429,2362,CIENCIAS_HUMANAS,NaN,História,NaN,867

In [7]:
areas_de_atuacao[(areas_de_atuacao['area_do_conhecimento'].notna()) & (
    areas_de_atuacao['area_do_conhecimento'].str.contains('ü'))]['area_do_conhecimento'].unique()

array(['Lingüística'], dtype=object)

In [8]:
areas_de_atuacao[(areas_de_atuacao['subarea_do_conhecimento'].notna()) & (
    areas_de_atuacao['subarea_do_conhecimento'].str.contains('ü'))]['subarea_do_conhecimento'].unique()

array(['Lingüística', 'Lingüística Aplicada',
       'Teoria e Análise Lingüística', 'Sociolingüística e Dialetologia',
       'Psicolingüística', 'Lingüística da Enunciação'], dtype=object)

In [9]:
areas_de_atuacao[['area_do_conhecimento', 'subarea_do_conhecimento']] = areas_de_atuacao[['area_do_conhecimento', 'subarea_do_conhecimento']].replace('ü', 'u', regex=True)

In [10]:
areas_de_atuacao[areas_de_atuacao['especialidade'].notna()].sample(n=10)

,codigo,grande_area_conhecimento,especialidade,area_do_conhecimento,subarea_do_conhecimento,codigo_curriculo
4645,4617,CIENCIAS_EXATAS_E_DA_TERRA,Cristalografia,Geociências,Geologia,1673
2164,2097,CIENCIAS_EXATAS_E_DA_TERRA,Lógicas e Semântica de Programas,Ciência da Computação,Teoria da Computação,765
2601,2533,CIENCIAS_SOCIAIS_APLICADAS,Administração de Pessoal,Administração,Administração Pública,936
2748,2680,ENGENHARIAS,Sistemas de Telecomunicações,Engenharia Elétrica,Telecomunicações,992
2439,2372,CIENCIAS_HUMANAS,Geografia Cultural,Geografia,Geografia Humana,869
3879,3878,LINGUISTICA_LETRAS_E_ARTES,cultura popular,Artes,Dança,1403
1766,1765,CIENCIAS_HUMANAS,Sociologia da Educação,Educação,Fundamentos da Educação,639
2904,2837,CIENCIAS_SOCIAIS_APLICADAS,Responsabilidade Social,Administração,Administração de Empresas,1052
4540,4539,CIENCIAS_EXATAS_E_DA_TERRA,Linguagem Formais e Autômatos,Ciência da Computação,Teoria da Computação,1646
183,184,CIENCIAS_EXATAS_E_DA_TERRA,Sistemas Inteligentes,Ciência da Computação,Metodologia e Técnicas da Computação,61

In [11]:
list(areas_de_atuacao.columns)

['codigo',
 'grande_area_conhecimento',
 'especialidade',
 'area_do_conhecimento',
 'subarea_do_conhecimento',
 'codigo_curriculo']

In [12]:
areas_de_atuacao.isna().any()

codigo                      False
grande_area_conhecimento    False
especialidade                True
area_do_conhecimento         True
subarea_do_conhecimento      True
codigo_curriculo            False
dtype: bool

**Exportar**

In [88]:
export_path = Path(IFG_PRODUZ_STORAGE_DIR / "preprocessed")

if not export_path.is_dir():
    Path(export_path).mkdir()

areas_de_atuacao.to_csv(export_path / "areas_de_atuacao.csv", sep=";", index=False)