In [8]:
p_storage_dir = "../../storage"
p_notebooks_root = None

In [ ]:
if p_notebooks_root is not None:
    import os
    os.chdir(p_notebooks_root)

In [9]:
from pathlib import Path

import numpy as np
import pandas as pd

IFG_PRODUZ_STORAGE_DIR = Path(f"{p_storage_dir}/ifg_produz")

# Banca

In [10]:
banca = pd.read_csv(IFG_PRODUZ_STORAGE_DIR / "extracted/banca.csv", delimiter=";")

banca.sample(n=5)

,id_banca,titulo,ano,natureza,id_curriculo_id
5023,4973,Análise de viabilidade técnica e econômica da ...,2018,Mestrado,653
6544,6536,Utilização de algas no tratamento de efluente ...,2005,Graduação,893
14250,14250,DESENVOLVIMENTO DE UM SISTEMA DE CONTROLE E SU...,2016,Graduação,1814
6939,6935,Novos Caminhos,2009,Graduação,898
10924,10913,O PROEJA NO IFG - CÂMPUS Goiânia: os desafios ...,2015,Graduação,1418

In [11]:
banca = banca.rename(columns={
    'id_banca': 'codigo',
    'id_curriculo_id': 'codigo_curriculo'
})

In [12]:
banca.sample(n=5)

,codigo,titulo,ano,natureza,codigo_curriculo
8353,8350,Segmento de turismo GLS em Goiânia:Uma análise...,2016,Graduação,1080
307,307,PROCEDIMENTO PARA INSPEÇÃO E DIAGNÓSTICO DE PA...,2019,Graduação,32
1631,1628,Um enfoque nos sistemas de informações na ECT,2013,Graduação,200
7197,7155,Análise da Mistura solo emulsão cal para fins ...,2008,Graduação,931
2235,2231,Análise de crédito emprestado X crescimento ec...,2011,Graduação,268

## Exportar

In [13]:
export_path = Path(IFG_PRODUZ_STORAGE_DIR / "preprocessed")

if not export_path.is_dir():
    Path(export_path).mkdir()

banca.to_csv(export_path / "banca.csv", sep=";", index=False)